.parenatdiv{
    display: flex;
    /* border: 5px solid red; */
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border: 2px solid red;

}
.chailddiv{
    width: 30%;
    height: 500px;
    border: 2px solid red;
    cursor:pointer; 
    margin-bottom: 50px;
}
.image{
    width: 100%;
    height: 50%;
}