 
.flex{
    display: flex;
    justify-content: space-around;
    /* border: 1px solid red; */
     font-size: 18px;
    font-weight: bolder;
}
.w-15{
    width: 15%;
}
.w-45{
    width: 45%;
}
.w-20{
    width: 20%;
}

.nav-parent p{
    cursor: pointer;
} 